
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --cor-primaria: #6880FF;
    --cor-secundaria: #7C91FF;
    /* grey scale palette */
    --cor-black: #000000;
    --cor-white: #FFFFFF;
}

body{
    background-color: var(--cor-black);
    
}